* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&display=swap');

@font-face {
  font-family: 'geosanslight';
  src: url("../src/fonts/geonms-webfont.eot");
  src: url("../src/fonts/geonms-webfont.eot?#iefix") format("embedded-opentype"),
  url("../src/fonts/geonms-webfont.woff") format("woff"),
  url("../src/fonts/geonms-webfont.ttf") format("truetype"),
  url("../src/fonts/geonms-webfont.svg#geosanslight-nmsregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: Raleway, sans-serif;
  height: 100%;
  overflow: hidden;
}

body {
  background-color: #d9d9d9;
  color: #fff;
}

header {
  display: flex;
  align-items: center;
  background-color: #101b21;
  height: 3rem;
  padding: 0.5rem 1rem;
  border-bottom: 2px solid #ff8400;
  font-family: geosanslight, sans-serif;
  font-size: 28px;
  font-weight: 400;
  color: #f7f7f7;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-shadow: 1px 1px 1px #fff, 1px 1px 5px #00ffff, 1px 1px 15px #00ffff, 1px 1px 30px #00ffff;
  line-height: 31px;
}

header h1 {
  color: #ffffff;
  margin: 0;
  padding: 0;
}
.menu {
  height: 20px;
  width: 20px;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg width='26' height='20' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3Cstyle%3E.cls-1 %7B fill: %23676f75; %7D%3C/style%3E%3C/defs%3E%3Ctitle%3Eicon-menu%3C/title%3E%3Cg%3E%3Ctitle%3ELayer 1%3C/title%3E%3Cpolygon id='svg_1' points='26 9 0 9 0 11 26 11 26 9 26 9' class='cls-1'/%3E%3Cpolygon id='svg_2' points='26 18 0 18 0 20 26 20 26 18 26 18' class='cls-1'/%3E%3Cpolygon id='svg_3' points='26 0 0 0 0 2 26 2 26 0 26 0' class='cls-1'/%3E%3C/g%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  border: 0;
  margin-left: 1rem;
}
.menu:hover,
.menu.active {
  background-image: url("data:image/svg+xml,%3Csvg width='26' height='20' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3Cstyle%3E.cls-1 %7B fill: %23ff8400; %7D%3C/style%3E%3C/defs%3E%3Ctitle%3Eicon-menu%3C/title%3E%3Cg%3E%3Ctitle%3ELayer 1%3C/title%3E%3Cpolygon class='cls-1' points='26 9 0 9 0 11 26 11 26 9 26 9' id='svg_1'/%3E%3Cpolygon class='cls-1' points='26 18 0 18 0 20 26 20 26 18 26 18' id='svg_2'/%3E%3Cpolygon class='cls-1' points='26 0 0 0 0 2 26 2 26 0 26 0' id='svg_3'/%3E%3C/g%3E%3C/svg%3E");
}
.restart {
  height: 20px;
  width: 20px;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23.039' height='23.039' viewBox='0 0 610 610' shape-rendering='geometricPrecision' text-rendering='geometricPrecision' image-rendering='optimizeQuality' fill-rule='evenodd' clip-rule='evenodd'%3E%3Cpath d='M526 512c93-95 109-237 48-349-18-34-44-64-76-90-55-44-122-65-189-63l-13 82c58-5 117 13 162 54 25 22 43 49 55 78 31 76 17 167-44 230l-56-56c-3-3-9-1-9 4l-31 201c-1 3 2 6 6 6l201-31c5-1 7-6 4-9l-56-56zm-374-50c-25-22-43-49-55-78-31-76-17-167 44-230l56 56c3 3 9 1 9-4L237 5c1-3-2-6-6-6L30 30c-5 1-7 6-4 9l56 56c-93 95-109 237-48 349 18 34 44 64 76 90 55 44 122 65 189 63l13-83c-58 5-117-13-162-54z' fill='%23676f75'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 0;
  margin-left: auto;
}
.restart:hover {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23.039' height='23.039' viewBox='0 0 610 610' shape-rendering='geometricPrecision' text-rendering='geometricPrecision' image-rendering='optimizeQuality' fill-rule='evenodd' clip-rule='evenodd'%3E%3Cpath d='M526 512c93-95 109-237 48-349-18-34-44-64-76-90-55-44-122-65-189-63l-13 82c58-5 117 13 162 54 25 22 43 49 55 78 31 76 17 167-44 230l-56-56c-3-3-9-1-9 4l-31 201c-1 3 2 6 6 6l201-31c5-1 7-6 4-9l-56-56zm-374-50c-25-22-43-49-55-78-31-76-17-167 44-230l56 56c3 3 9 1 9-4L237 5c1-3-2-6-6-6L30 30c-5 1-7 6-4 9l56 56c-93 95-109 237-48 349 18 34 44 64 76 90 55 44 122 65 189 63l13-83c-58 5-117-13-162-54z' fill='%23ff8400'/%3E%3C/svg%3E");
}
.restart.active {
  animation: rotate360 .5s infinite linear;
}

@-webkit-keyframes rotate360 {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate360 {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

main {
  background: #101b21;
  height: calc(100vh - 108px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input {
  width: 95vw;
  height: 85vh;
  display: flex;
  flex-direction: column;
}
.input.hidden {
  display: none;
}

#drop-area {
  border: 2px dashed #f9f9f9;
  border-radius: 10px;
  width: 100%;
  margin: auto;
  padding: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#drop-area.highlight {
  border-color: #ff8400;
}
#drop-area .info {
  padding: 0.5rem;
}
#drop-area .info.small {
  font-size: 14px;
  padding: 0.3rem 0;
}

.gameVersion {
  font-family: Consolas;
  font-size: 15px;
}


p {
  margin: 0;
}
.error {
  background-color: #cc0000;
  border-radius: 6px;
  color: #ffffff;
  text-align: center;
  padding: 8px 0;
  width: 80vw;
  max-width: 480px;
  margin: 1rem auto 0;
}
.error.hidden {
  display: none;
}

.supported-files {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-family: Consolas;
  align-items: center;
  background: #0a1217;
  color: #ffc107;
  padding: 0.5rem 1rem;
  border-radius: 10px;
}
.supported-files .filename {
  margin: 1px 0;
  cursor: pointer;
  width: 100%;
  text-align: center;
  padding: 0px 0.5rem;
}
.supported-files .filename:hover {
  color: #fff;
  background: #ff8400;
  border-radius: 5px;
}
.button {
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #ff8400;
  text-transform: uppercase;
  margin-top: 0.5rem;
}

.button:hover {
  background: #ff8400;
}

#fileElem {
  display: none;
}

.fileTitle {
  display: flex;
  text-align: left;
  width: 100%;
  padding: 0.5rem 1rem;
  background: #11171c;
}

.output {
  overflow-y: auto;
  height: calc(100vh - 108px);
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
}
.output.hidden {
  display: none;
}

.group-title {
  display: flex;
  width: 100%;
}

.colorblock {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 1px;
}

.color {
  display: flex;
  width: 32px;
  height: 32px;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-shadow: 1px 1px 1px #1d1d1d, -1px 1px 1px #1d1d1d, -1px -1px 1px #1d1d1d, 1px -1px 1px #1d1d1d;
  font-family: Consolas, sans-serif;
}

.colors {
  display: flex;
  flex-direction: column;
}

.colors .colorline {
  display: flex;
  align-items: center;
  background-color: #162028;
  margin-bottom: 1px;
}

.colors .colorline .name {
  width: 100%;
  padding: 0.2rem 0.5rem;
  text-shadow: 1px 1px 1px #1d1d1d, -1px 1px 1px #1d1d1d, -1px -1px 1px #1d1d1d, 1px -1px 1px #1d1d1d;
  height: 32px;
  margin-right: 1px;
}


footer {
  background-color: #000000;
  height: 3rem;
  padding: 0.5rem 1rem;
  border-top: 2px solid #ff8400;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer p {
  color: #fff;
  font-size: 12px;
  letter-spacing: 0.05rem;
}
footer .version {
  font-size: 12px;
  font-family: sans-serif;
  letter-spacing: 0;
  position: absolute;
  bottom: 20px;
  right: 10px;
  text-shadow: 1px 1px 1px #fff, 1px 1px 5px #00ffff, 1px 1px 15px #00ffff, 1px 1px 30px #00ffff;
}

.settings {
  z-index: 300;
  position: absolute;
  top: 0px;
  bottom: 0px;
  transition: -webkit-transform 0.3s ease-out 0s;
  will-change: transform;
  overflow-y: auto;
  box-shadow: rgb(0 0 0 / 15%) 2px 2px 4px;
  width: 375px;
  right: 0px;
  transform: translateX(100%);
  background-color: rgba(11,16,20,.85);
}
.settings.active {
  transform: translateX(0%);
}

.settings-header {
  display: flex;
  align-items: center;
  height: 3rem;
  padding: 0.5rem 1rem;
  font-family: geosanslight, sans-serif;
  font-size: 28px;
  font-weight: 400;
  color: #f7f7f7;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  line-height: 31px;
}

.settings-close {
  height: 20px;
  width: 20px;
  background-color: transparent;
  background-repeat: no-repeat;
  border: 0;
  cursor: pointer;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3Cstyle%3E.cls-1 %7B fill: %23676f75; %7D%3C/style%3E%3C/defs%3E%3Ctitle%3Eicon-cross%3C/title%3E%3Cg%3E%3Ctitle%3ELayer 1%3C/title%3E%3Cpolygon id='svg_1' points='18.57 0 10 8.57 1.43 0 0 1.43 8.57 10 0 18.57 1.43 20 10 11.43 18.57 20 20 18.57 11.43 10 20 1.43 18.57 0 18.57 0' class='cls-1'/%3E%3C/g%3E%3C/svg%3E");
}
.settings-close:hover,
.settings-close.active {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3Cstyle%3E.cls-1 %7B fill: %23ff8400; %7D%3C/style%3E%3C/defs%3E%3Ctitle%3Eicon-cross%3C/title%3E%3Cg%3E%3Ctitle%3ELayer 1%3C/title%3E%3Cpolygon class='cls-1' points='18.57 0 10 8.57 1.43 0 0 1.43 8.57 10 0 18.57 1.43 20 10 11.43 18.57 20 20 18.57 11.43 10 20 1.43 18.57 0 18.57 0' id='svg_1'/%3E%3C/g%3E%3C/svg%3E");
}

.settings-header .title {
  margin-left: 1rem;
}
.settings .block {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0rem 0.5rem 0 1rem;
  font-size: 0.85rem;
  background: #0f1920;
  margin-bottom: 2px;
  cursor: pointer;
}
.settings .block input {
  color: #f6fbff;
  background-color: #162028;
  font-family: Consolas,sans-serif;
  border-color: #304556;
  border-style: solid;
  margin-left: 0.5rem;
}
.settings .block input:active,
.settings .block input:focus {
  outline: none;
  border-color: #608aab;
}

.checkmark {
  display: flex;
  height: 48px;
  width: 48px;
  right: 0px;
  top: 0px;
  position: relative;
  z-index: 2;
  flex-shrink: 0;
  margin-left: auto;
  background-image: url(../src/img/CHECKBOX.OFF.png);
  background-position: center;
}
.checkmark.active {
  background-image: url(../src/img/CHECKBOX.ON.png);
}

.overlay {
  visibility: hidden;
  opacity: 0;
  transition:visibility 0.3s linear,opacity 0.3s linear;
}
.overlay.active {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  background: rgb(11 16 20 / 50%);
  visibility: visible;
  opacity: 1;
}

::-webkit-scrollbar {
  width: 12px;
  height: 16px;
 }
 ::-webkit-scrollbar-thumb {
  background: #515a60;
  border-radius: 0px;
 }
 ::-webkit-scrollbar-thumb:hover{
  background: #ff8400;
 }
 ::-webkit-scrollbar-track{
  background: #101b21;
  border-radius: 0px;
  box-shadow: inset 7px 10px 12px #131517;
 }

